.variableSelector {
	max-height: 100px;
	height: auto;
	display: flex;
	align-items: flex-end;
}

.variableDropdown {
	margin-right: 10px;
	position: relative;
}

.variableDropdown:hover > .btnSubtractVariable {
	display: block;
}

.variableDropdown > .dropdown {
	padding: 0;
}

.btnSubtractVariable {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: black;
    color: white;
    position: absolute;
    border: none;
    top: -5px;
    right: -5px;
	display: none;
}

.btnSubtractVariable:hover {
    cursor: pointer;
}

.btnSortAsc, .btnSortDesc {
    width: 70px;
    height: 20px;
    margin: 3px;
    color: white;
    text-align: center;
    background-color: #1996f6;
    border: none;
    border-radius: 15px;
    outline: none;
}
