.variableSelector {
	height: 110px;
	display: flex;
    border-right: 1px solid black;
}

.variableDropdown {
    width: 250px;
    border-right: 1px solid black;
	padding: 10px;
	position: relative;
}

.variableDropdown:hover > .btnSubtractVariable {
	display: block;
}

.variableDropdown > .dropdown {
	padding: 0;
}

.btnSubtractVariable {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: black;
    color: white;
    position: absolute;
    border: none;
    top: -5px;
    right: -5px;
	display: none;
}

.btnSubtractVariable:hover {
    cursor: pointer;
}

.btnSortAsc, .btnSortDesc {
    width: 70px;
    height: 20px;
    margin: 15px 5px 0 0;
    color: white;
    text-align: center;
    background-color: #1996f6;
    border: none;
    border-radius: 15px;
    outline: none;
}

.addVariableButton {
    margin: 0 10px;
    align-self: center;
}

.yearDropdown > .dropdown {
    width: 100px;
    padding: 0;
    display: inline-block;
}

.yearDropdown > .dropdown > .dropbtn {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 3px;
}

.yearDropdown > .dropdown > .dropdown-content {
    width: 100px;
    height: 200px;
}

.yearDropdown > .dropdown > .dropdown-content > .searchbar{
    width: 80px;
    height: 20px;
    border-radius: 20px;
    font-size: 9pt;
}

.yearDropdown > .dropdown > .dropdown-content > .dropdown-options > .dropdownElem {
    width: 100px;
    text-align: center;
    padding: 10px 0;
}
