.table tr {
    min-height: 50px;
}
.table tr:nth-child(even) {
    background-color: rgba(180, 180, 180, .2);
}
.table td {
    width: 260px;
    height: 60px;
    box-sizing: border-box;
    padding: 0 10px 10px 0;
    text-align: center;
}
.table td:nth-child(even) {
    background-color: rgba(200, 200, 200, .2);
}
