.leaflet-container {
		height: 650px;
		width: 1000px;
        z-index: 0;
}

.leaflet-popup-content-wrapper{
    background-color: gray;
    color: white;
    opacity: 0.9;
    line-height: 10px;
}
.leaflet-popup-tip {
    background: red;
}
