 .hospitalSelector > .hospitalDropdown:nth-child(even) {
    background-color: rgba(180, 180, 180, .2);
}

.hospitalDropdown > .dropdown {
    width: 270px;
    height: 70px;
    box-sizing: border-box;
	padding: 10px 0 10px 10px;
    border-bottom: 1px solid black;
}

.hospitalDropdown {
    position: relative;
}

.hospitalDropdown:hover > .btnSubtractHospital {
    display: block;
}

.btnSubtractHospital {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: black;
    color: white;
    position: absolute;
    border: none;
    top: -5px;
    right: -5px;
    display: none;
}

.btnSubtractHospital:hover {
    cursor: pointer;
}

.addHospitalButton {
    margin: 10px  0 10px 110px;
}
