.checkbox-list{
    width: 250px;
    max-height: 500px;
    overflow-y: auto;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
}

.checkbox-list-item {
    box-sizing: border-box;
    width: 250px;
    font-size: 16px;
    padding: 3px 0 3px 10px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}


.list-item-name {
    box-sizing: border-box;
    display: inline;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.canton-name:hover {
    cursor: pointer;
}
