.checkbox-list {
    width: 250px;
    max-height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.checkbox-list-item {
    box-sizing: border-box;
    width: 250px;
    font-size: 9pt;
    min-height: 25px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.checkbox-list-item label {
    display: flex;
    align-items: center;
}

.list-item-name {
    line-height: 15px;
    padding-left: 10px;
}

.canton-name:hover {
    cursor: pointer;
}
