.checkbox-list{
    min-width: 270px;
    max-width: 400px;
    height: 500px;
    overflow-y: scroll;
    background-color: #ddd;
}

.checkbox-list-item {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 3px 0 3px 10px;
    display: inline-flex;
    align-items: center;
}

.checkbox-list-item:nth-child(odd) {
    background-color: #ccc;
}

.list-item-name {
    box-sizing: border-box;
    display: inline;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.canton-name:hover {
    cursor: pointer;
}
