/* The container <div> - needed to position the dropdown content */
.dropdown {
    padding: 10px 0 10px 0;
}

/* Dropdown Button */
.dropbtn {
    font-size: 11pt;
    box-sizing: border-box;
    background-color: #1996fa;
    color: white;
	min-height: 50px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 250px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    outline: none;
}

/* The search field */
.searchbar {
    font-size: 16px;
}

.searchbar:hover {
    cursor: default;
}

/* The search field when it gets focus/clicked on */
.searchbar:focus {
    outline: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 9pt;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    background-color: #f6f6f6;
    border: 1px solid black;
    border-top: none;
    width: 250px;
    height: 300px;
    overflow: scroll;
    display: none;
}

/* Links inside the dropdown */
.dropdownElem {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: black;
    padding: 12px 16px;
    width: 250px;
}

/* Change color of dropdown links on hover */
.dropdownElem:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
