
.line {
    stroke: #E4002B;
    fill: none;
    stroke-width: 3;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 10px;
    font-family: sans-serif;
}

.text-label {
    font-size: 10px;
    font-family: sans-serif;
}

.dot {
    stroke: #293b47;
    fill: #7A99AC
}

div.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    line-height: 10px;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 13px;
    background: #1996fa;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
