.languagePicker {
    background-color: white;
    border-radius: 15px;
    margin-top: 125px;
    margin-left: 5px;
}


.langBtn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #1996fa;
    color: white;
    font-size: 12pt;
}

.langBtn:hover {
    cursor: pointer;
}

.langBtn:focus {
    outline: none;
}
