.canton-list-item {
    width: 270px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 3px 0 3px 10px;
    background-color: #ddd;
}

.canton-name {
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
}

.canton-name:hover {
    cursor: pointer;
}

.canton-name p {
    padding-left: 10px;
}
