/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline;
}

/* Dropdown Button */
.dropbtn {
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 250px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    font-size: 16px;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    box-shadow: inset 2px 2px 0 0 #ddd;
    box-shadow: inset -2px -2px 0 0 #ddd;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    box-sizing: border-box;
    display: none;
    background-color: #f6f6f6;
    border-style: solid;
    border-color: #ddd;
    border-width: 0 1px 0 1px;
    width: 250px;
    overflow: hidden;
}

/* Links inside the dropdown */
.dropdownElem {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: black;
    padding: 12px 16px;
    width: 250px;
}

/* Change color of dropdown links on hover */
.dropdownElem:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
