.control-panel {
    position: relative;
    background-color: white;
    border-radius: 15px;
    width: 290px;
    max-height: 600px;
}

.control-panel h1 {
    font-size: 17pt;
    display: inline-block;
}

.control-panel p {
    font-size: 11pt;
    height: 15px;
    line-height: 15px;
}

.tabs {
    width: 100%;
    height: 60px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.tab {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35px 35px;
}

.tab:hover {
    border-bottom: 1px solid #ccc;
}

#t1{
    background-image: url('icons/map.png');
}
#t2{
    background-image: url('icons/table.png');
}
#t3{
    background-image: url('icons/graph.png');
}

.selectedTab, .selectedTab:hover {
    border-bottom: 2px solid #1996f6;
}

.tab:hover {
    cursor: pointer;
}

.header {
    display: flex;
    height: 35px;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;
}

.tabContent {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
}

.viewSwitcher {
    padding-bottom: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.viewSwitcher p {
    font-size: 11pt;
}

.label {
    padding: 3px 5px;
    border-radius: 10px;
}

.label:hover, .selectedLabel {
    background-color: #1996f6;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.separator {
    color: #ddd;
    pointer-events: none;
    padding: 0 5px;
}

.btnCreateCSV {
	width: 250px;
	height: 50px;
    display: inline-block;
    background-color: #1996f6;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration: none;
}

.btnCreateCSV:hover{
	cursor: pointer;
}
