* {
    margin: 0;
    padding: 0;
}
.App {
    position: absolute;
    top: 0;
    left: 0;
}

.leaflet-control-attribution {
    display: none;
}

.grid-container {
    position: absolute;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 10px 290px 10px auto 50px;
    grid-template-rows: 10px auto 10px 80px 20px;
    pointer-events: none;
}

.grid-container > div {
    pointer-events: auto;
}

.control-panel {
    grid-column-start: 2;
    grid-row: 2/3;
    place-self: start start;
}

.central-panel {
    grid-column-start: 4;
    grid-row-start: 2;
}

.languagePicker {
    grid-column: 5;
    grid-row: 2;
    place-self: start start;
}

.slider {
    grid-column: 4;
    grid-row: 4;
}
