.variableSelector {
    grid-row-start: 1;
	grid-column-start: 2;
}
.hospitalSelector {
	grid-row-start: 2;
	grid-column-start: 1;
}
.btnGenerateTable {
    grid-row-start: 1;
	grid-column-start: 1;
    width: 200px;
	height: 50px;
	border: none;
    border-radius: 25px;
    font-size: 11pt;
    background-color: #ccc;
	justify-self: center;
    align-self: center;

}
.resultTable {
    grid-column: 2;
    grid-row: 2;
}

.interactiveTable {
    width: 100%;
    padding-bottom: 300px;
    overflow: auto;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto;
    background-color: rgba(160, 160, 160, .2);
}

.addButton {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	color: white;
	border: none;
	background-color: #1996f6;
	font-size: 20pt;
}
