.variableSelector {
    grid-area: varSel;
}
.hospitalSelector {
    gird-area: hospSel;
}

.empty {
    width: 300px;
    height: 75px;
}

.interactiveTable {
    display: grid;
    grid-template-areas:
        'empty varSel'
        'hospSel table';
    grid-template-columns: 300px 100%;
    grid-template-rows: 75px auto;
}
