.variableSelector {
    grid-row-start: 1;
	grid-column-start: 2;
}
.hospitalSelector {
	grid-row-start: 2;
	grid-column-start: 1;
}
.btnGenerateTable {
    grid-row-start: 1;
	grid-column-start: 1;
    width: 200px;
	height: 50px;
	border: none;
    border-radius: 25px;
    font-size: 11pt;
    background-color: #ccc;
	justify-self: center;
    align-self: center;

}
.resultTable {
    grid-area: table;
	border-spacing: 20px;
}

.interactiveTable {
	width: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto auto 50px;
}

.addButton {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	color: white;
	border: none;
	background-color: #1996f6;
	font-size: 20pt;
}
